In [10]:
# MUltilayer Perceptron with SKlearn

In [11]:
# !pip install ucimlrepo

In [12]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [13]:
adult.data

{'ids': None,
 'features':        age         workclass  fnlwgt  education  education-num  \
 0       39         State-gov   77516  Bachelors             13
 1       50  Self-emp-not-inc   83311  Bachelors             13
 2       38           Private  215646    HS-grad              9
 3       53           Private  234721       11th              7
 4       28           Private  338409  Bachelors             13
 ...    ...               ...     ...        ...            ...
 48837   39           Private  215419  Bachelors             13
 48838   64               NaN  321403    HS-grad              9
 48839   38           Private  374983  Bachelors             13
 48840   44           Private   83891  Bachelors             13
 48841   35      Self-emp-inc  182148  Bachelors             13

            marital-status         occupation    relationship  \
 0           Never-married       Adm-clerical   Not-in-family
 1      Married-civ-spouse    Exec-managerial         Husband
 2                Divorced  Handlers-cleaners   Not-in-family
 3      Married-civ-spouse  Handlers-cleaners         Husband
 4      Married-civ-spouse     Prof-specialty            Wife
 ...                   ...                ...             ...
 48837            Divorced     Prof-specialty   Not-in-family
 48838             Widowed                NaN  Other-relative
 48839  Married-civ-spouse     Prof-specialty         Husband
 48840            Divorced       Adm-clerical       Own-child
 48841  Married-civ-spouse    Exec-managerial         Husband

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 0                   White    Male          2174             0              40
 1                   White    Male             0             0              13
 2                   White    Male             0             0              40
 3                   Black    Male             0             0              40
 4                   Black  Female             0             0              40
 ...                   ...     ...           ...           ...             ...
 48837               White  Female             0             0              36
 48838               Black    Male             0             0              40
 48839               White    Male             0             0              50
 48840  Asian-Pac-Islander    Male          5455             0              40
 48841               White    Male             0             0              60

       native-country
 0      United-States
 1      United-States
 2      United-States
 3      United-States
 4               Cuba
 ...              ...
 48837  United-States
 48838  United-States
 48839  United-States
 48840  United-States
 48841  United-States

 [48842 rows x 14 columns],
 'targets':        income
 0       <=50K
 1       <=50K
 2       <=50K
 3       <=50K
 4       <=50K
 ...       ...
 48837  <=50K.
 48838  <=50K.
 48839  <=50K.
 48840  <=50K.
 48841   >50K.

 [48842 rows x 1 columns],
 'original':        age         workclass  fnlwgt  education  education-num  \
 0       39         State-gov   77516  Bachelors             13
 1       50  Self-emp-not-inc   83311  Bachelors             13
 2       38           Private  215646    HS-grad              9
 3       53           Private  234721       11th              7
 4       28           Private  338409  Bachelors             13
 ...    ...               ...     ...        ...            ...
 48837   39           Private  215419  Bachelors             13
 48838   64               NaN  321403    HS-grad              9
 48839   38           Private  374983  Bachelors             13
 48840   44           Private   83891  Bachelors             13
 48841   35      Self-emp-inc  182148  Bachelors             13

            marital-status         occupation    relationship  \
 0           Never-married       Adm-clerical   Not-in-family
 1      Married-civ-spouse    Exec-managerial         Husband
 2                Divorced  Handlers-cleaners   Not-in-family
 3      Married-civ-spouse  Handlers-cleaners         Husband
 4      Married-civ-spouse     Prof-specialty            Wife
 ...                   ...                ...             ...
 48837            Divorced     Prof-specialty   Not-in-family
 48838             Widowed                NaN  Other-relative
 48839  Married-civ-spouse     Prof-specialty         Husband
 48840            Divorced       Adm-clerical       Own-child
 48841  Married-civ-spouse    Exec-managerial         Husband

                      race     sex  capital-gain  capital-loss  hours-per-week  \
 0                   White    Male          2174             0              40
 1                   White    Male             0             0              13
 2                   White    Male             0             0              40
 3                   Black    Male             0             0              40
 4                   Black  Female             0             0              40
 ...                   ...     ...           ...           ...             ...
 48837               White  Female             0             0              36
 48838               Black    Male             0             0              40
 48839               White    Male             0             0              50
 48840  Asian-Pac-Islander    Male          5455             0              40
 48841               White    Male             0             0              60

       native-country  income
 0      United-States   <=50K
 1      United-States   <=50K
 2      United-States   <=50K
 3      United-States   <=50K
 4               Cuba   <=50K
 ...              ...     ...
 48837  United-States  <=50K.
 48838  United-States  <=50K.
 48839  United-States  <=50K.
 48840  United-States  <=50K.
 48841  United-States   >50K.

 [48842 rows x 15 columns],
 'headers': Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
        'income'],
       dtype='object')}

In [14]:
import numpy as np 
import pandas as pd

In [15]:

# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 

df = pd.DataFrame(X, columns=adult.data.feature_names)

df['income'] = y
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [17]:
# get the numerical columns only
# splitting the dataset into train test split ->use of random state
# Normalization using minmax scaler
# sklearn multilayer perceptron-> MLP Classifier -> use hidden layers:3=>256,256,256, activation: relu, solver: adam, 
# batch size: 64, validation_fraction=0.2, learning rate:0.01, verbose: True, shuffle: True, max_iter: 100
# -> train and test/fit and predict
# get params
# accuracy_score, confusion_matrix, classification_report
# evaluation metrics